<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ProductDao">
    <select id="findAll" resultType="product">
        select *
        from p_product
    </select>

    <insert id="saveProduct" parameterType="product">
        insert into p_product(id, product_number, product_name, departure_time, city_name, product_price, product_desc,
                              product_status)
        values (#{id}, #{productNumber}, #{productName}, #{departureTime}, #{cityName}, #{productPrice}, #{productDesc},
                #{productStatus})
    </insert>

    <select id="findById" parameterType="string" resultType="product">
        select * from p_product where id = #{id}
    </select>
</mapper>