<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.TravellerDao">
    <select id="findByOrderId" parameterType="string" resultType="traveller">
        select *
        from p_traveller
        where id in (select traveller_id from p_order_traveller where order_id = #{orderId})
    </select>
</mapper>